<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Information page</title>
    <meta name="author" content="Codeconvey" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
    <!--Only for demo purpose - no need to add.  --->   
    <link rel="stylesheet" href="../static/css/page.css" /> 
	    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>

    <header class="ScriptHeader">
        <div class="rt-container">
            <div class="col-rt-12">
                <div class="rt-heading">
                    <h1>National Card Information</h1>
                </div>
            </div>
        </div>
    </header>


    <section>
        <div class="rt-container">
            <div class="col-rt-12">
                <div class="Scriptcontent">  
                    <div class="student-profile">
                        <div class="card">
                            <div class="card-header  text-center">
                                <img class="profile_img" src="../static/images/{{faceImage}}" alt="student dp">
                                <h3>{{firtName}}  {{lastName}}</h3>
                            </div>
                            <div class="card-body">
                                <p><strong> National Code:</strong> {{nationalCode}}</p>
                                <p><strong>first name  :</strong> {{firtName}}  </p>
                                <p><strong>last name: </strong> {{lastName}}</p>
                                <p><strong>birth date  : </strong>{{birthDate}}</p>
                                <p><strong>father's name :</strong> {{fathersName}}</p>
                                <p><strong>expiration Date :</strong> {{expirationDate}}</p>
                                <img src="../static/images/{{cardImage}}" style='float: right; position:absolute; left: 46%; top: 51%; border-radius: 10px; ' width="300" height="200" />
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
</section>
</body>