<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>info</title>  
    <link rel="stylesheet" href="../static/css/page.css" /> 
	  
    
</head>
<body>
    <header class="ScriptHeader">
        <div class="rt-container">
            <div class="col-rt-12">
                <div class="rt-heading">
                    <h1>Showing Image</h1>
                    <img src="../static/images/{{filename}}" style='float: right; position:absolute; left: 20%; top: 500%; border-radius: 10px; ' width="400" height="400" />
                </div>
            </div>
        </div>
    </header>
</body>